body {
  font-family: Helvetica, serif;
  font-weight: 200;
}

label {
  font-size: 1em;
  margin: 10px 0px;
}

input {
  font-size: 1em;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #878787;
  color: #333;
}

table {
  width: 100%;
}

.header {
  font-size: 1.5em;
  color: #333;
}

.example-text {
  font-style: italic;
  color: #878787;
  padding: 10px 0;
  margin-left: 20px;
  margin-bottom: 10px;
}

.address {
  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-direction: row;
}
.grid .form {
  width: 40%;
  margin: 30px 10px;
}
.grid .table {
  flex: 1;
  display: flex;
  margin: 30px;
}

.table {
  text-align: center;

  .header {
    font-size: 1.5em;

    td {
      padding: 5px 15px;
    }
  }

  .data {
    font-size: .8em;

    td {
      padding: 5px 15px;
    }
  }

}
